.mynavbar{
    background-color: #505050;
}
.nav.nav-tabs{
    font-size: 10px;
}
.nav.nav-tabs>li {
    margin-bottom: 0;
}
.nav.nav-tabs>li>a {
    margin-right: 5px;
    border: 0 solid transparent;
    border-radius: 0;
    padding: 6px 6px;
    color: white;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #000000;
}
.mybody{
    padding-left: 10%;
    padding-right: 10%;
}
.myhead{
    height: 96px;
}
.mysearch{
    padding-top: 30px;
    margin-left: 8%;
}

input.form-control.input-lg{
height: 35px;
width: 80%;
margin-right: -5px;
border-radius: 0;
}
.mysearchspan{
width: 19%;
border-radius: 0;
    background-color: #60AF00;
}
::-webkit-input-placeholder { /* WebKit browsers */
font-size:14px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
font-size:14px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
font-size:14px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
font-size:14px;
}

.ulfloat{
    height: 30px;
    list-style-type:none;
}


.indexinfo{
    margin-top: 2%;
    margin-right: 0;
    text-align: center;
}

.indexinfo>.btn{
    line-height: 1.3333333;
    border-radius: 0;
}

.mybodyblank{
    padding-left: 20px;
    background-color: #60AF00;

}
.blankinfo{
    height: 36px;

}
.blankinfo>li>a {
    font-weight: 100;
    color: white;
    text-align: center;
    width: 85px;
    font-size: 15px;
    height: 36px;
}
.blankinfo>li>a:focus, .blankinfo>li>a:hover {
    text-decoration: none;
    background-color: #2b542c;
}
.mybodycontent{

    background-color: #9d9d9d;
}
.myleft{
    margin-top: 10px;

}